.karte{
    width: 993px;
    height: 669px;
}

.datum{
    display: inline-block;
}

.svgText{
    font-family: 'Piazzolla', serif;
    font-size: 15px;
}

.svgBuchstabe{
    font-size: 10px;
}
.svgText:hover{
    cursor: pointer;
}
.svgBuchstabe:hover{
    cursor: pointer;
}

.svgPolygon:hover{
    cursor: pointer;
}

.textUnterKarte{
    margin-top: 1rem;
    text-align: center;
}

.edinburghWebcamText{
    display: inline-block;
}
